<div id="tutorial-container">
    <div id="bg-watermark">graphr</div>
    <div id="tutorial">Click anywhere to create a node</div>
    <p>{{ tagLine }}</p>
</div>
<pz-graph-vis>

</pz-graph-vis>

<div id="footer-container">
    <div class="row">
        <div class="checkbox col-md-4">
            <label>
                <input type="checkbox" ng-model="frozen" ng-change=freezeNodes(frozen)> Freeze Nodes
            </label>
        </div>
        <div class="col-md-4">
            <select class="form-control" ng-model="graph" ng-change=changeDataset(graph) ng-options="graph.name for graph in graphList">
                <option value="">Choose graph</option>
            </select>
        </div>
        <div class="col-md-4">
            <button type="button" ng-click="saveDataset()" class="btn btn-default">Save</button>
        </div>
    </div>
</div>

