<div id="tutorial-container">
    <div id="bg-watermark">graphr</div>
    <div id="tutorial">Click to create a node. Shift-click to delete.<br>Double-click two nodes to connect them.</div>
    <p>{{ tagLine }}</p>
</div>
<pz-graph-vis>

</pz-graph-vis>

<div id="footer-container" class="container-fluid">
    <div class="row">
        <div class="checkbox col-xs-1">
            <label id="freeze-nodes">
                <input type="checkbox" class="large checkbox" ng-model="frozen" ng-change=freezeNodes(frozen)> Freeze Nodes
            </label>
        </div>
        <div class="col-xs-2 col-xs-offset-1">
            <label>
                <input id="edgeInput" type="number" min="0" max="9999" value="0" step="1" maxlength="4" ng-model="edgeValue" ng-change=updateNodeOrEdge(edgeValue)> Update Weight
            </label>
        </div>
        <div class="col-xs-1 col-xs-offset-1">
            <select class="form-control" id="choose-graph" ng-model="graph" ng-change=changeDataset(graph) ng-options="graph.name for graph in graphList">
                <option value="">Choose graph</option>
            </select>
        </div>
        <div class="col-xs-1">
            <select class="form-control" id="choose-algo" ng-model="algorithm" ng-change="changeAlgorithm(algorithm)" ng-options="algo.name for algo in algorithms">
                <option value="">Choose algo.</option>
            </select>
        </div>
        <div class="col-xs-2">
            <button type="button" ng-click="runAlgorithm()" class="btn btn-primary">Run Algorithm</button>
        </div>
        <div class="input-group col-xs-2 col-xs-offset-1 pull-right">
            <input type="text" class="form-control" ng-model="graphName" placeholder="Graph name">
            <span class="input-group-btn">
                <button id="save-graph" class="btn btn-success" ng-click="saveDataset(graphName)" type="button">Save</button>
            </span>
        </div>
    </div>
</div>

